<div id="task-note">
  <div id="<%= dom_id task %>">
    <p>
      <h3><%= task.title %></h3>
    </p>

    <p>
      <strong>Notes:</strong>
      <%= task.notes %>
    </p>

    <p>
      <% if task.complete %>
        <strong>Complete!</strong>
      <% else %>
        <strong>Pending</strong>
      <% end %>
    </p>

    <p>
      <%= link_to "Show this task", task %>
    </p>

    <% if !task.complete %>
      <p>
        <%= button_to "Complete", complete_task_path(task), method: :post %>
      </p>
    <% end %>

  </div>
</div>